{% extends "layout.html" %}
{% block content %}
<div class="content-section">
    <legend class="border-bottom mb-4">About</legend>
    <p>The Buddyship Program aims to help you set short-term goals in Toastmasters and accomplish them within a certain
        time frame. More importantly, it is designed to make friends and increase accountability in achieving goals.
        Let's dive into your 'buddyship' journey! </p>
    <p>You are expected to: <br>
        - Set your buddy <br>
        - Set your own goal (general & specific) and reward in achieving that goal <br>
        - Record your buddy's progress after each meeting </p>
    <p>You can: <br>
        - View a history of your progresses (recorded by your buddy) <br>
        - Change your info including your goal and reward </p>
    <p>Lastly, if you encounter any issues or have any suggestions, please feel free and contact us through <br>
        - <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#004165" class="bi bi-envelope-fill"
            viewBox="0 0 16 16">
            <path
                d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555zM0 4.697v7.104l5.803-3.558L0 4.697zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757zm3.436-.586L16 11.801V4.697l-5.803 3.546z" />
        </svg> <a href='mailto: vppr-6247@toastmastersclubs.org' target="_blank">vppr-6247@toastmastersclubs.org</a><br>
        - <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#004165" class="bi bi-facebook"
            viewBox="0 0 16 16">
            <path
                d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z" />
        </svg> <a href='https://www.facebook.com/Hobart.Toastmasters' target="_blank">Hobart Toastmasters Page</a>
    </p>
</div>
{% endblock content %}