{% extends "layout.html" %}
{% block content %}
<div class="content-section">
    {% for buddy in user.buddies|reverse %}
    <legend class="border-bottom mb-4">{{ buddy.buddy_count }} {{ buddy.buddy_name }}'s Progress</legend>
    <div class="table-responsive-sm">
        <table class="table table-sm table-bordered">
            <thead>
                <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Role</th>
                    <th scope="col">Score</th>
                    <th scope="col">Comment</th>
                    <th scope="col">Goal</th>
                </tr>
            </thead>
            <tbody>
                {% for progress in user.record_progresses|reverse %}
                <tr>
                    {% if progress.buddy_id == buddy.id %}
                    <td>{{ progress.date.date() }}</td>
                    <td>{{ progress.buddy_role }}</td>
                    <td>{{ progress.buddy_score }}</td>
                    <td class="cell-breakWord">{{ progress.buddy_comment }}</td>
                    <td>{{ progress.buddy_goal }}</td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endfor %}
</div>

{% endblock content %}