{% extends "layout.html" %}
{% block content %}
<div class="content-section">
    <form method="POST" action="" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Set up your buddy</legend>
            <div class="form-group">
                {{ form.buddy_first_name.label(class="form-control-label") }}
                {% if form.buddy_first_name.errors %}
                {{ form.buddy_first_name(class="form-control is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.buddy_first_name.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.buddy_first_name(class="form-control") }}
                {% endif %}
            </div>
        </fieldset>
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Set up your goal and reward</legend>
            <div class="form-group">
                {{ form.general_goal.label(class="form-control-label") }}
                {% if form.general_goal.errors %}
                <select class="form-control is-invalid" id="general_goal" , name="general_goal">
                    {% for option in form.general_goal %}
                    {% if loop.first %}
                    <option value="" disabled selected>Choose...</option>
                    {% endif %}
                    {{ option }}
                    {% endfor %}
                </select>
                <div class="invalid-feedback">
                    {% for error in form.general_goal.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                <select class="form-control" id="general_goal" , name="general_goal">
                    {% for option in form.general_goal %}
                    {% if loop.first %}
                    <option value="" disabled selected>Choose...</option>
                    {% endif %}
                    {{ option }}
                    {% endfor %}
                </select>
                {% endif %}

            </div>
            <div class="form-group">
                {{ form.specific_goal.label(class="form-control-label") }}
                {% if form.specific_goal.errors %}
                {{ form.specific_goal(class="form-control is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.specific_goal.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.specific_goal(class="form-control") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.reward.label(class="form-control-label") }}
                {% if form.reward.errors %}
                {{ form.reward(class="form-control is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.reward.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.reward(class="form-control") }}
                {% endif %}
            </div>
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn success") }}
        </div>
    </form>
</div>
{% endblock content %}